@model IEnumerable<ToDo.Models.ToDoTask>

@{
    ViewData["Title"] = "MyTasks";
}

<h1>My Tasks</h1>
<hr />
<p>
    <a class="custom-link__text text--gray" asp-action="Create">Create New</a>
</p>
<table class="table custom-table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="checkmark-disabled">
                @Html.DisplayFor(modelItem => item.Done)
                <label for="done"></label>
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.task)
            </td>
            <td>
                <a class="custom-link__text text--gray" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="custom-link__text text--gray" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="custom-link__text text--gray" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
